[submodule "installer/noidget"]
	path = installer/noidget
	url = https://github.com/CommitteeOfZero/noidget.git
	branch = master
[submodule "launcher/realboot"]
	path = launcher/realboot
	url = https://github.com/CommitteeOfZero/realboot.git
	branch = master
[submodule "LanguageBarrier"]
	path = LanguageBarrier
	url = https://github.com/CommitteeOfZero/LanguageBarrier.git
	branch = sg30-changes
[submodule "coalesc3"]
	path = coalesc3
	url = https://github.com/CommitteeOfZero/coalesc3.git
[submodule "MagesFontTool"]
	path = MagesFontTool
	url = https://github.com/CommitteeOfZero/MagesFontTool
